* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo-image {
  position: left;
  position: absolute;
  height: 150px;
}

.sub-btn {
  text-decoration: none;
  color: #ffffff;
  background: #4e7252;
  text-align: center;
  border: none;
  width: 180px;
  padding: 1rem;
  margin: 3%;
  position: absolute;
  right: 5px;
  display: inline-block;
}

.sub-btn:hover {
  background: #37503a;
  color: #ffffff;
}

.topnav {
  background-color: #4e7252;
  grid-column: 1 / 6;
  grid-row: 2;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

.topnav a {
  float: center;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  box-sizing: border-box;
  width: 20%;
}

.topnav a:hover {
  background-color: #37503a;
  color: #ffffff;
}

.topnav a.active {
  background-color: #37503a;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  min-height: 100vh;
}

.hero-head {
  grid-column: 1 / 6;
  grid-row: 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(Image/popular-sudanese-foods.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.text {
  width: 300px;
  height: 40px;
  font-size: medium;
  padding-left: 1%;
  margin-top: -15px;
}

.title {
  font-family: "Bebas Neue";
  width: 470px;
  text-align: center;
  font-size: x-large;
  line-height: 2.5em;
  text-shadow: 1px 1px 4px rgb(38, 38, 38);
  margin-top: -60px;
}

body {
  margin: 0px;
  background-color: #d7e3d8;
}

.footer {
  color: #000000;
  background-color: #d7e3d8;
  font-size: 14px;
  text-align: center;
  height: 40px;
  width: 100%;
  bottom: 0%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
